<header>
  <h1>Header</h1>
  <div>
    <% if (loggedIn) { %>
    <p>
      Logged in as
      <a href="<%=`/users/${currentUser._id}`%>"><%= currentUser.fullName %></a>
    </p>
    <p><a href="/users/logout">Log out</a></p>
    <% } else { %>
    <a href="/users/login" method="GET">Log in</a>
    <% } %>
  </div>
  <li>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/recipeApp.js"></script>
    <% include courses/_coursesModal %>
  </li>
</header>
<div>
  <% if (flashMessages) { %> <% if (flashMessages.success) { %>
  <div><%= flashMessages.success %></div>
  <% } else if (flashMessages.error) { %>
  <div><%= flashMessages.error %></div>
  <% } %> <% } %>
</div>
<body>
  <%- body %>
</body>
<footer>
  <p>footer</p>
</footer>
